/* Filename: Navbar.css */

.Navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #9370DB;
    background-color: black;
    gap: 20px;   
}

#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: rgb(185, 185, 185);
    border: 1px solid #242424;
    border-radius: 4px;
    background-color: #e91d1d;
}

#no:focus {
    outline: none;
}

.css-2b097c-container {
    width: 120px;
    color: rgb(5, 121, 153);
    background-color: #e21313;
}

.css-yk16xz-control {
    background-color: #eca012 !important;
    border-color: #d9bb10 !important;
}